<div class="up-side-bar">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat-make-btn">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="down-side-bar">
  <% current_user.rooms.each do |room| %>
    <div class="chat-name-box">
      <div class="chat-name"> 
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>