.wrapper {
  display: flex;
}

.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.up-side-bar {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  font-size: 16px;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.chat-make-btn a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.down-side-bar {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.chat-name-box {
  padding: 20px 0 40px;
}

.chat-name a{
  color: white;
  text-decoration: none;
}

.main-chat {
  height: 100%;
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.up-main-chat {
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}

.middle-main-chat {
  height: calc(100vh - 190px);
  background-color: #fafafa;
  margin-bottom: 46px 40px 0;
}

.down-main-chat {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}
